@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* spinner */
.loader {
    width: 20px;
    height: 20px;
    background: #FFF;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.loaderLayout {
    color: #3E7BFA;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}


.transitionSidebar {
    transition: all 150ms ease;
}

.with-shadow {
    filter: drop-shadow(0px 0px 12px rgba(62, 123, 250, 0.8));
}


#darkModHandler .body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .1s;
    padding: 15px 15px;
}


#darkModHandler label,
.toggle {
    height: 2.5rem;
    border-radius: 100px;
}

#darkModHandler label {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#darkModHandler .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#darkModHandler .names {
    font-size: 90%;
    font-weight: bolder;
    width: 78%;
    margin-left: 12.5%;
    margin-top: 3.5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#darkModHandler .dark {
    opacity: .5;
}


/* -------- Switch Styles ------------*/
#darkModHandler [type="checkbox"] {
    display: none;
}

/* Toggle */
#darkModHandler [type="checkbox"]:checked+.app .toggle {
    transform: translateX(100%);
    background-color: #34323D;
}

#darkModHandler [type="checkbox"]:checked+.app .dark {
    opacity: 1;
}

#darkModHandler [type="checkbox"]:checked+.app .light {
    opacity: .5;
}

#darkModHandler [type="checkbox"]:checked+.app .body {
    color: white;
}



@media only screen and (max-width: 768px) {
    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: .7s;
        animation-duration: .7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes slideInUp {
        0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

@media only screen and (min-width: 768px) {
    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.fadeInFast {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.show-scrollbar::-webkit-scrollbar {
    display: block;
}

.description-task::-webkit-scrollbar {
    width: 3px !important;
    height: 4px;
}

.taskContainer::-webkit-scrollbar {
    width: 4px !important;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6da5;
}


.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* task color */
.todo {
    background-color: #FFCE00;
    box-shadow: 0 0 12px -2px rgba(255, 204, 0, 0.3);
}

.in-progress {
    background-color: #AA5BDA;
    box-shadow: 0 0 12px -1px rgba(194, 121, 239, 0.3);
}

.review {
    background-color: #0063F7;
    box-shadow: 0 0 12px -1px rgba(0, 99, 247, 0.3);
}

.done {
    background-color: #FF8A00;
    box-shadow: 0 0 12px -3px rgb(255, 138, 0.3);
}


.clear {
    clear: both;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
    width: 40px;
    height: 40px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=radio]:checked+div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=radio] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

/*------ checkbox dark mode in navbar mobile ------*/
#navbar .container {
    --color: #93949A;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

#navbar .container .moon {
    position: absolute;
    top: -33px;
    right: 60px;
    animation: keyframes-fill .5s;
}

#navbar .container .sun {
    position: absolute;
    top: -33px;
    right: 60px;
    display: none;
    animation: keyframes-fill .5s;

}

#navbar .container input:checked~.moon {
    display: none;
}

#navbar .container input:checked~.sun {
    display: block;
}

#navbar .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}

.items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}


#RadioButtonAddNote .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 24px;
    height: 24px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

#RadioButtonAddNote .check:before {
    content: "";
    height: 64px;
    opacity: 0;
}

#RadioButtonAddNote .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

#RadioButtonAddNote .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

#RadioButtonAddNote .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

#RadioButtonAddNote .check:hover:before {
    opacity: 1;
}


#RadioButtonAddNote .radioInput:checked+.check svg {
    stroke: var(--accent-color, #ffffff);
}

#RadioButtonAddNote .radioInput:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

#RadioButtonAddNote .radioInput:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.titleNote {
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.stickyNoteContainer:hover .stickyNoteBtn {
    display: flex;
}


.loaderEditNote {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loaderEditNote::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}


.profileContainer {
    background-image: url('/assets/images/bgProfile.jpg');
    background-position: right;
    background-size: cover;
}

.avatar-upload {
    position: relative;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-edit input {
    display: none;
}

.avatar-edit label {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-edit label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-edit label:after {
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
    position: relative;
    border-radius: 100%;
    border: 4px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btnLogout:hover .logoutIcon {
    fill: #fff;
}

.projectItem:hover .BoxIcon {
    fill: #fff;
}