@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* spinner */
.loader {
    width: 20px;
    height: 20px;
    background: #FFF;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.loaderLayout {
    color: #3E7BFA;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}


.transitionSidebar {
    transition: all 150ms ease;
}

.with-shadow {
    filter: drop-shadow(0px 0px 12px rgba(62, 123, 250, 0.8));
}


#darkModHandler .body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .1s;
    padding: 15px 15px;
}


#darkModHandler label,
.toggle {
    height: 2.5rem;
    border-radius: 100px;
}

#darkModHandler  label {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#darkModHandler .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#darkModHandler .names {
    font-size: 90%;
    font-weight: bolder;
    width: 78%;
    margin-left: 12.5%;
    margin-top: 3.5%; 
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#darkModHandler .dark {
    opacity: .5;
}


/* -------- Switch Styles ------------*/
#darkModHandler [type="checkbox"] {
    display: none;
}

/* Toggle */
#darkModHandler [type="checkbox"]:checked+.app .toggle {
    transform: translateX(100%);
    background-color: #34323D;
}

#darkModHandler [type="checkbox"]:checked+.app .dark {
    opacity: 1;
}

#darkModHandler [type="checkbox"]:checked+.app .light {
    opacity: .5;
}

#darkModHandler [type="checkbox"]:checked+.app .body {
    color: white;
} 
